<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<title>To Do List</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	
	<div id="TDL" class="wrapper">
		<h1>TO DO LIST</h1>
		<div class="inline-form">
			<input type="text" @keyup.enter="addTask" v-model="userInput" placeholder="add task...">
			<button @click="clear">Clear completed</button>
		</div>
		<ul id="list">
			<li class="task" v-for="(li, i) in tasks">
				<span :class="{completed: li.completed}" 
				@click="toggleComplete(i)">{{ li.name }}</span>
				<span @click="deleteTask(i)" class="delete">
					<i class="fas fa-times"></i>
				</span>
			</li>
		</ul>
	</div>




	<script type="text/javascript" src="app.js"></script>
</body>
</html>